.center{
	/*margin-top:20px;*/
}
.head{
	font-size:2em;
	font-weight:bold;
}
label{
	font-size:.9em;
	display:block;
	padding-top:15px;
	font-weight:bold;
}
.input{
	font-family:courier;
	height:30px;
	padding: 0 15px;
	background:none;
	border:2px solid black;
}
.input:hover{
	background: black;
	color:white;
}
.signIn{
	font-family:courier;
	font-size:12px;
	font-weight:bold;
	border:2px solid black;
	background: black;
	color:white;
	margin-top:70px;
	cursor:pointer;
	height:25px;
	padding: 0px 12px;
}
.register{
	margin-top:20px;
	font-size:.7em;
}
.link{
}
.link {
	padding:2px;
	cursor:pointer;
	display:inline-block;
	border-bottom: 2px solid black;
}
.signIn:hover{
	background: transparent;
	color:black;
} 

.link:hover{
	background: black;
	color:white;
}
